:root {
    --body-bg: white;
    --body-color: black;
}

@media (prefers-color-scheme: dark) {
    :root {
        --body-bg: black;
        --body-color: white;
    }

    .item > img {
        filter: invert(100%);
    }
}

body {
    margin: 0;
    background: var(--body-bg);
    color: var(--body-color);
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
    position: fixed;
    width: 100vw;
    height: 100svh;
    overflow: hidden;
}

.item:has(input[type="checkbox"]:checked) + .gallery {
    display: block;
}

input[type="checkbox"] {
    position: absolute !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
}

.gallery {
    display: none;
}

a {
    color: inherit;
}

p,
li {
    line-height: 1.8;
}

.item {
    align-items: center;
    justify-content: center;
    font-size: 36px;
    width: 150px;
    height: 150px;
    position: absolute;
    animation: appear 0.25s;
    animation-delay: calc(var(--stagger, 0) * 0.1s);
    animation-fill-mode: forwards;
    text-align: center;
    outline: 0;
    z-index: -11;
    transition: all 0.5s cubic-bezier(0.25, 1.5, 0.75, 0.98);
    cursor: zoom-in;
    scale: 0;
    opacity: 0;
}

.item > img {
    transition: all 400ms cubic-bezier(0.5, 1.75, 0.5, 0.75);
    animation: float 3s ease-in-out infinite;
    animation-delay: calc(var(--stagger, 0) * 0.3s);
    width: 80%;
}

.item:hover > img,
.item:focus-within > img {
    scale: 1.5;
}

.item:has(:checked) {
    z-index: 10;
    left: calc(50% - 75px) !important;
    top: 1em !important;
    cursor: zoom-out;
}

.item:has(:checked) > img,
.item:has(:checked):hover > img,
.item:has(:checked):focus-within > img {
    animation: none;
    scale: 1;
}

.item:has(:checked)::before {
    content: "Back";
    display: block;
    left: -100px;
    position: absolute;
    top: calc(50% - 0.5em);
    text-decoration: underline;
    font-size: x-large;
    animation: appearBack 0.5s ease;
}

.item::after {
    content: attr(title);
    position: absolute;
    top: 130px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    padding: 5px;
    width: 200px;
    text-wrap: balance;
    font-size: 24px;
    color: var(--body-color);
}

.item:hover::after,
.item:focus-within::after {
    display: block;
}

.item:has(input[type="checkbox"]:checked):hover::after,
.item:has(input[type="checkbox"]:checked):focus-within::after {
    display: none;
}

.item:has(input[type="checkbox"]:checked):hover > img,
.item:has(input[type="checkbox"]:checked):focus-within > img {
    transform: scale(1);
}

.gallery {
    padding-top: 10rem;
    border: 0;
    font-size: large;
    text-wrap: pretty;
    background: transparent;
    color: inherit;
    animation: fadeIn 0.125s ease-in;
    padding-inline: calc(50vw - 390px);
    height: calc(100svh - 10rem);
    overflow: scroll;
}

h3 {
    font-size: 2em;
}

h2,
h3 {
    max-width: 500px;
    text-wrap: balance;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: 300;
}

.gallery > img {
    width: 100%;
}
.project {
    display: flex;
    margin-bottom: 2em;
    padding-bottom: 2em;
}

.project-content {
    flex: 1;
}
.project-image {
    flex: 0 0 300px;
    margin-left: 1em;
    align-content: center;
}
.project-image img {
    width: 100%;
    height: auto;
}

.project-media {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.project-media iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-responsive {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 30px;
    position: relative;
    max-width: 100% !important;
}

.video-responsive iframe {
    left: 0;
    top: 0;
    width: 100%;
}

.gallery::after {
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -10;
    animation: fadeIn 0.25s ease-in;
}

#lineContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -100;
}

path {
    stroke-width: 75;
    mix-blend-mode: difference;
    stroke-linejoin: round;
    stroke-dasharray: var(--length);
    animation: draw 0.35s ease forwards;
}

@keyframes draw {
    from {
        stroke-dashoffset: var(--length);
    }

    to {
        stroke-dashoffset: 0;
    }
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes appear {
    to {
        scale: 1;
        opacity: 1;
    }
}

@keyframes appearBack {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
